<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= user.category_id %>
  </p>

  <p>
    <strong>Deal:</strong>
    <%= user.deal_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

</div>
