<section class="home-section category_form">
   <nav>
     <i class="fa-solid fa-shake fa-bars menu_toggle" onclick="toggleMenu()"></i>
        <h1>PAYMENT TYPE</h1>
      <%= link_to raw('<i class="fa-solid fa-arrow-left-long"></i>'), categories_path %>
    </nav>
     <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     </div>
     <%= render "layouts/shared/mobile_nav" %>

<%= form_with(model: @category, html: { class: "position_bottom" }) do |form| %>
  <% if @category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :author_id, value: current_user.id %>
   <div class="category_name_icon input-field-container">
   <div>
    <%= form.label :name, style:"display:none" %>
    <%= form.text_field :name,class:"category_name", placeholder:"Enter Category Name" %>
    <div class="upload-container">
       <i class="fa-solid fa-2xl fa-circle-user" style="color: #7e7575;"></i>
        <span class="upload-placeholder">Upload Icon</span>
       <%= form.file_field :icon, accept: "image/*", class:"user-photo" %>
     </div>
   </div>
   </div>
   <button  class="createCategoryBtn">
   <%= form.submit "Create Payment Type", class:"outline_border"%>
   </button>

  <% end %>
</section>